/* You can add global styles to this file, and also import other style files */
body{
     background:  linear-gradient(110deg, #48dbfb 60%, #1B9CFC 60%);
}

html, body {
  min-height: 100vh;
  height: auto;
  margin: 0;
}
